/* ==UserStyle==
@name           Elk Square Avatars
@namespace      basil.cafe
@version        1.1.0
@description    Changes the avatars on Elk to be rounded squares.
@author         Basil
@homepageURL    https://codeberg.org/basil/userscripts
@supportURL     https://codeberg.org/basil/userscripts/issues
@updateURL      https://codeberg.org/basil/userstyles/raw/branch/main/styles/elk-square-avatars.user.css
@license        unlicense

@var            range   avatarRadius   "Avatar radius"   [8, 0, 24, 1, 'px']
==/UserStyle== */

@-moz-document domain("elk.zone"), domain("elk.basil.cafe") {
    /* All avatar images have this class */
    .account-avatar {
        border-radius: var(--avatarRadius) !important;
    }

    /* Some images (I think just for your account in some spots?) have a squircle clip mask, so we remove that */
    [style='clip-path: url("#avatar-mask");'], .squircle {
        clip-path: unset !important;
    }

    /* Boosted post borders */
    div[id^="status-"] div.v-popper div.rounded-full {
        /* The avatar of the original poster for a boosted post has a 3px wide border around it. In order to make it look nice (have an equal width the entire way around), we have to factor that in */
        border-radius: calc(var(--avatarRadius) + 3px) !important;
    }

    /* `button.rounded-full` is a more broad classname than I'm comfortable with (as there could potentially be other buttons with this class, though this doesn't appear to be the case). These target the border around the profile image on profile pages */
    button.rounded-full, button.squircle {
        /* We use a rem value because that's the padding defined on this element */
        border-radius: calc(var(--avatarRadius) + .25rem) !important;
    }
    
    /* The avatar in follow notifications */
    article div[rounded-full][border-bg-base] {
        border-radius: calc(var(--avatarRadius) + 4px) !important;
    }
}